{% extends 'templates/baseTemplate.twig' %}

{% block container %}
<div class="hidden-lg hidden-md hidden-sm col-xs-12">  
    <a href="{{ path_for("allStudents")}}"> <h4 class="white">{{ translate('translation.root.seeAllStudents') }}</h4> </a>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <h4 class="white">{{ translate('translation.root.students') }}</h4>
        <header class="hero-spacer">
            {% for key, student in students %}
            <div class="col-md-6 hero-feature">
                <div class="thumbnail">
                    <a href="#portfolioModal{{student.id}}" class="portfolio-link" data-toggle="modal">
                        <div  class="circle-face img-circle" style="
                             background-image: 
                            {% if student.image %}
                                url('{{student.image}}')
                            {% else %}
                                url('{{base_url()}}/assets/img/profile.png')
                            {% endif %}
                            "  > </div>
                        <h6>{{ student.lastName }} {{ student.firstName }} </h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </header>

    <div class="col-md-12">  
        <a href="{{ path_for("allStudents")}}"> <h4 class="white">{{ translate('translation.root.seeAll') }}</h4> </a>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
    {% if messageSuccess.messageSuccess %}
        <div class="col-md-12 alert alert-success">
            {{messageSuccess.messageSuccess}}
        </div>
    {% endif %}
    {% if messageDanger.messageDanger %}
        <div class="col-md-12 alert alert-danger">
            {{messageDanger.messageDanger}}
        </div>
    {% endif %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <header class="jumbotron hero-spacer">
            <span class="h1">{{ translate('translation.root.teacher') }}</span>
            <p>{{ translate('translation.root.teacherDescription') }}</p>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#teacherModal">{{ translate('translation.root.signUp') }}</button>
        </header>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <header class="jumbotron hero-spacer">
            <span class="h1">{{ translate('translation.root.student') }}</span>
            <p>{{ translate('translation.root.studentDescription') }}</p>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#studentModal">{{ translate('translation.root.signUp') }}</button>
            </p>
        </header>
    </div>
</div>


<div class="hidden-lg hidden-md hidden-sm col-xs-12">  
    <a href="{{ path_for("allTeachers")}}"><h4 class="white">{{ translate('translation.root.seeAllTeachers') }}</h4></a>
</div>


<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <h4 class="white">{{ translate('translation.root.teachers') }}</h4>
        <header class="hero-spacer">
            {% for key, teacher in teachers %}
        
                <div class="col-md-6 hero-feature">
                    <div class="thumbnail">
                        <a href="#portfolioModal{{teacher.id}}" class="portfolio-link" data-toggle="modal">
                            <div  class="circle-face img-circle" style="
                             background-image: 
                            {% if teacher.image %}
                                url('{{teacher.image}}')
                            {% else %}
                                url('{{base_url()}}/assets/img/profile.png')
                            {% endif %}
                            "  > </div>
                            <h6>{{ teacher.lastName }} {{ teacher.firstName }} </h6>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </header>
    <div class="col-md-12">  
        <a href="{{ path_for("allTeachers")}}"><h4 class="white">{{ translate('translation.root.seeAll') }}</h4></a>
    </div>
</div>
{% endblock %}

{% block modal %}

    <!-- Modal teacher-->
<div class="portfolio-modal modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="{{ path_for("signUpTeacher") }}" method="POST">
                        <div class="modal-body">
                            <h4 class="modal-title">{{ translate('translation.root.teacherSignUp') }}</h4>
                            <div class="form-group">
                                <label for="firstName">{{ translate('translation.root.firstName') }}:</label>
                                <input type="text" name="firstName" class="form-control"  required/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">{{ translate('translation.root.lastName') }}:</label>
                                <input type="text" name="lastName" class="form-control"  required/>
                            </div>

                            <div class="form-group">
                                <label for="sexe">{{ translate('translation.root.sexe') }}:</label>
                                <select name="sexe" class="form-control" required>
                                    <option value="m">{{ translate('translation.root.male') }}</option>
                                    <option value="f">{{ translate('translation.root.female') }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="age">{{ translate('translation.root.age') }}:</label>
                                <input type="Number" min="0" name="age" class="form-control"  required/>
                            </div>


                            <div class="form-group">
                                <label for="country">{{ translate('translation.root.country') }}:</label>
                                <select name="country" class="form-control" required>
                                    <option value="dz">{{ translate('translation.root.algeria') }}</option>
                                    <option value="tr">{{ translate('translation.root.turkey') }}</option>
                                    <option value="fr">{{ translate('translation.root.france') }}</option>
                                    <option value="gr">{{ translate('translation.root.greece') }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="address">{{ translate('translation.root.address') }}:</label>
                                <input type="text" name="address" class="form-control"  required/>
                            </div>

                            <div class="form-group">
                                <label for="category">{{ translate('translation.root.category') }}:</label>
                                <select name="category" class="form-control" required>
                                    {% for categories in categoryList %}
                                        <optgroup label=" >>> {{categories.category}} <<< ">

                                            {% for category in categories.subCategory %}
                                                <option {% if category.id == auth.user.id_category %} selected {% endif %} value="{{category.id}}">{{ category.category }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="experience">{{ translate('translation.root.experience') }}: ({{ translate('translation.root.year') }})</label>
                                <input type="number" min="0" name="experience" class="form-control"  required/>
                            </div>

                            <div class="form-group">
                                <label for="price">{{ translate('translation.root.price') }}:</label>
                                <input type="number" min="0" name="price" class="form-control"  required/>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ translate('translation.root.email') }}:</label>
                                <input type="email" name="email" class="form-control" placeholder="email@example.com"  required/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ translate('translation.root.password') }}:</label>
                                <input type="password" name="password" class="form-control" placeholder="*****"  required/>
                            </div>
                            <div class="form-group">
                                <label for="bio">{{ translate('translation.root.whyDoYouWantToTeach') }}</label>
                                <textarea name="bio" class="form-control" required></textarea>
                            </div>
                            <button  class="btn btn-primary">{{ translate('translation.root.signUp') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /Model teacher  -->

     <!-- Modal student-->
<div class="portfolio-modal modal fade" id="studentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="{{ path_for("signUpStudent") }}" method="POST">
                        <div class="modal-body">
                            <h4 class="modal-title">{{ translate('translation.root.studentSignUp') }}</h4>
                            <div class="form-group">
                                <label for="firstName">{{ translate('translation.root.firstName') }}:</label>
                                <input type="text" name="firstName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="lastName">{{ translate('translation.root.lastName') }}:</label>
                                <input type="text" name="lastName" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label for="sexe">{{ translate('translation.root.sexe') }}:</label>
                                <select name="sexe" class="form-control" required>
                                    <option value="m">{{ translate('translation.root.male') }}</option>
                                    <option value="f">{{ translate('translation.root.female') }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="age">{{ translate('translation.root.age') }}:</label>
                                <input type="Number" min="0" name="age" class="form-control"  required/>
                            </div>

                            <div class="form-group">
                                <label for="country">{{ translate('translation.root.country') }}:</label>
                                <select name="country" class="form-control" required>
                                    <option value="dz">{{ translate('translation.root.algeria') }}</option>
                                    <option value="tr">{{ translate('translation.root.turkey') }}</option>
                                    <option value="fr">{{ translate('translation.root.france') }}</option>
                                    <option value="gr">{{ translate('translation.root.greece') }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="address">{{ translate('translation.root.address') }}:</label>
                                <input type="text" name="address" class="form-control"  required/>
                            </div>

                            <div class="form-group">
                                <label for="category">{{ translate('translation.root.category') }}:</label>
                                <select name="category" class="form-control" required>
                                    {% for categories in categoryList %}
                                        <optgroup label=" >>> {{categories.category}} <<< ">

                                            {% for category in categories.subCategory %}
                                                <option {% if category.id == auth.user.id_category %} selected {% endif %} value="{{category.id}}">{{ category.category }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="experience">{{ translate('translation.root.level') }}:</label>
                                <select name="experience" class="form-control" required>
                                    <option value="0">{{ translate('translation.root.level1') }}</option>
                                    <option value="1">{{ translate('translation.root.level2') }}</option>
                                    <option value="2">{{ translate('translation.root.level3') }}</option>
                                    <option value="3">{{ translate('translation.root.level4') }}</option>
                                    <option value="4">{{ translate('translation.root.level5') }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="price">{{ translate('translation.root.price') }}:</label>
                                <input type="number" min="0" name="price" class="form-control"  required/>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ translate('translation.root.email') }}:</label>
                                <input type="email" name="email" class="form-control" placeholder="email@example.com"  required/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ translate('translation.root.password') }}:</label>
                                <input type="password" name="password" class="form-control" placeholder="*****"  required/>
                            </div>
                            <div class="form-group">
                                <label for="bio">{{ translate('translation.root.whyDoYouWantToLearn') }}</label>
                                <textarea name="bio" class="form-control" required></textarea>
                            </div>
                            <button  class="btn btn-primary">{{ translate('translation.root.signUp') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /Model student  -->

{% for student in students %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ student.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2> {{student.lastName }} {{ student.firstName }} </h2>
                            <hr class="star-primary">
                            <img src="{{ student.image }}" class="img-responsive img-centered" alt="">
                            <p>{{ student.bio }}</p>
                            <ul class="list-inline item-details">
                                {% if student.contact().phone %}
                                <li>Phone:
                                    <strong><a href="#">{{ student.contact().phone }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if student.contact().skype %}
                                <li>Skype:
                                    <strong><a href="#">{{ student.contact().skype }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if student.contact().facebook %}
                                <li>Facebook:
                                    <strong><a href="#">{{ student.contact().facebook }} </a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if student.contact().twitter %}
                                <li>Twitter:
                                    <strong><a href="#">{{ student.contact().twitter }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if student.contact().linkedin %}
                                <li>LinkedIn:
                                    <strong><a href="#">{{ student.contact().linkedin }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{ translate('translation.root.close') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% for teacher in teachers %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ teacher.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2> {{teacher.lastName }} {{ teacher.firstName }} </h2>
                            <hr class="star-primary">
                            <img src="{{ teacher.image }}" class="img-responsive img-centered" alt="">
                            <p>{{ teacher.bio }}</p>
                            <ul class="list-inline item-details">
                                {% if teacher.contact().phone %}
                                <li>Phone:
                                    <strong><a href="#">{{ teacher.contact().phone }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if teacher.contact().skype %}
                                <li>Skype:
                                    <strong><a href="#">{{ teacher.contact().skype }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if teacher.contact().facebook %}
                                <li>Facebook:
                                    <strong><a href="#">{{ teacher.contact().facebook }} </a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if teacher.contact().twitter %}
                                <li>Twitter:
                                    <strong><a href="#">{{ teacher.contact().twitter }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if teacher.contact().linkedin %}
                                <li>LinkedIn:
                                    <strong><a href="#">{{ teacher.contact().linkedin }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{ translate('translation.root.close') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

